<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lostfoundapp_224385035">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Lost &amp; Found App by Hongming"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LostFoundApp">
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDQSYkAxg1bOXuDd_QgX_PZDV_s2gbAAOk" />

        <!-- Places API配置 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- MapID暂时不使用，注释掉以解决编译错误 -->
        <!--
        <meta-data
            android:name="com.google.android.gms.maps.MapID"
            android:value="9d86064e41353758" />
        -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CreateAdvertActivity" />
        <activity android:name=".ItemListActivity" />
        <activity android:name=".MapActivity" />

    </application>

</manifest>